@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 145, 0);
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
}

#pg1{
    background-image: url(imgs/main1.png);
    margin:2vh;
    padding:50vh;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 50px ;
}

#pg1 h1{
    position:absolute;
    color:rgb(255, 145, 0);
    font-size: 5rem;
    margin:-17rem 2rem 0rem 30rem;

}
#pg1 h3{
    position:absolute;
    background-color:#862d1b;
    background-size: cover;
    border-radius: 30px;
    margin:2rem 5rem 0rem 30rem;
    padding: 2rem;

    color:rgb(255, 145, 0);

}
#pg2{
    margin:5rem;
    padding:10rem,5rem,10rem,5rem;
    display:flex;
    /* justify-content: center; */
    justify-content: space-evenly
}
.textmid{
    text-align: center;

}